        @using App.Entities.Models
        @model List<CustomIdentityUser>
        @{
            int num = 1;
        }
        <!-- Start Preloader Area -->
        <div class="preloader-area">
            <div class="spinner">
                <div class="inner">
                    <div class="disc"></div>
                    <div class="disc"></div>
                    <div class="disc"></div>
                </div>
            </div>
        </div>
        <!-- End Preloader Area -->
        
        <!-- Start Main Content Wrapper Area -->
        <div class="main-content d-flex flex-column">

           
            <!-- Start Content Page Box Area -->
            <div class="content-page-box-area">
                <div class="page-banner-box bg-4">
                    <h3>Friends</h3>
                </div>

                <div class="friends-inner-box-style d-flex justify-content-between align-items-center margin-top-25">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="friend-requests-tab" data-bs-toggle="tab" href="#friend-requests" role="tab" aria-controls="friend-requests">Friends</a>
                        </li>
                    </ul>
                    
                    <div class="friends-search-box">
                        <form>
                            <input type="text" class="input-search" placeholder="Search friends...">
                            <button type="submit"><i class="ri-search-line"></i></button>
                        </form>
                    </div>
                </div>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="friend-requests" role="tabpanel">
                        <div class="row justify-content-center">
                            @foreach (var item in Model)
                            {
                                if (num >= 17)
                                    num = 1;
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single-friends-card">
                                        <div class="friends-image">
                                            <a href="#">
                                                <img src="~/assets/images/friends/friends-bg-@(num++).jpg" alt="image">
                                            </a>
                                            <div class="icon">
                                                <a href="/home/userProfile/@item.Id"><i class="flaticon-user"></i></a>
                                            </div>
                                        </div>
                                        <div class="friends-content">
                                            <div class="friends-info d-flex justify-content-between align-items-center">
                                                <a href="#">
                                                    <img src="@item.ImageUrl" alt="image">
                                                </a>
                                                <div class="text ms-3">
                                                    <h3><a href="/home/userProfile/@item.Id">@item.UserName</a></h3>
                                                    <span>10 Mutual Friends</span>
                                                </div>
                                            </div>
                                            <ul class="statistics">
                                                <li>
                                                    <a href="#">
                                                        <span class="item-number">0</span> 
                                                        <span class="item-text">Likes</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="item-number">@item.Friends.Count()</span> 
                                                        <span class="item-text">Friends</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="button-group d-flex justify-content-center align-items-center">
                                                 <button type="button" class="btn btn-outline-primary">Send Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                            }
                        <div class="load-more-posts-btn">
                            <a href="#"><i class="flaticon-loading"></i> Load More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Content Page Box Area -->

            
          </div>


        </div>
        <!-- End Main Content Wrapper Area -->
        
        <!-- Start Copyright Area -->
        <div class="copyrights-area">
            <div class="container">
                <div class="row align-items-center">
                    <p><i class="ri-copyright-line"></i> 2021 Zust. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>
            </div>
        </div>
        <!-- End Copyright Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="ri-arrow-up-line"></i>
        </div>
        <!-- End Go Top Area -->
        
        <!-- Links of JS files -->
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="~/assets/js/jquery-ui.min.js"></script>
        <script src="~/assets/js/simplebar.min.js"></script>
        <script src="~/assets/js/metismenu.min.js"></script>
        <script src="~/assets/js/owl.carousel.min.js"></script>
        <script src="~/assets/js/wow.min.js"></script>
        <script src="~/assets/js/main.js"></script>
