@using approje.Dtos;
@{
    ViewData["Title"] = "live-chat";
    ViewData["Scripts"] = "~/MyJs/live_chat.js";
    var MessageUser = ViewBag.live_chat_message_user as ChatUserDto;
    var Me = ViewBag.me as ChatUserDto;
}
@model List<ChatUserDto>;
    <!-- Start Preloader Area -->
    <div class="preloader-area">
        <div class="spinner">
            <div class="inner">
                <div class="disc"></div>
                <div class="disc"></div>
                <div class="disc"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Main Content Wrapper Area -->
    <div class="main-content d-flex flex-column">

        <!-- Start Content Page Box Area -->
        <div class="content-page-box-area">
            <div class="page-banner-box bg-8">
                <h3>Live Chat</h3>
            </div>

            <div id="live_chat_online_users" class="live-chat-slides owl-carousel owl-theme">
@*                @foreach (var item in Model)
                {
                    <div class="chat-box" id="@item.Id" onclick="LiveMessageUser(id)">
                        <div class="image">
                            <a href="#"><img style="height:85px; width:85px;" src="@item.User_img" class="rounded-circle" alt="image"></a>
                            <span class="status-online"></span>
                        </div>
                        <h3>
                            <a href="#">@item.Name</a>
                        </h3>
                    </div>

                }*@

            </div>
            <div class="live-chat-body">

            </div>
            
            
        </div>
        <!-- End Content Page Box Area -->
        <!-- Start Right Sidebar Area -->
        <div class="right-sidebar-area" data-simplebar>
            <div class="recent-chat-box">
                <div class="title">
                    <h3>Recent Chat</h3>
                </div>

                <div class="chat-body" data-simplebar>
                    <div class="chat-item">
                        <a href="#"><img src="~/assets/images/user/user-15.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Stephan Redding</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="chat-item">
                        <a href="#"><img src="~/assets/images/user/user-16.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Maria Smith</a></span>
                        <span class="status-offline"></span>
                    </div>
                    <div class="chat-item">
                        <a href="#"><img src="~/assets/images/user/user-17.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Paul Enlow</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="chat-item">
                        <a href="#"><img src="~/assets/images/user/user-8.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Stephan Redding</a></span>
                        <span class="status-offline"></span>
                    </div>
                    <div class="chat-item">
                        <a href="#"><img src="~/assets/images/user/user-9.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Maria Smith</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="chat-item">
                        <a href="#"><img src="~/assets/images/user/user-10.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Paul Enlow</a></span>
                        <span class="status-offline"></span>
                    </div>
                </div>
            </div>

            <div class="recent-contact-box">
                <div class="title">
                    <h3>Contact</h3>
                </div>
                <div class="contact-search-box">
                    <form>
                        <input type="text" class="input-search" placeholder="Search">
                        <button type="submit"><i class="ri-search-line"></i></button>
                    </form>
                </div>
                <div class="contact-body" data-simplebar>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-18.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Karen Williams</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-4.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Mary A. Schwarz</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-20.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Rex Carruth</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-11.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">James Vanwinkle</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-19.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Oscar Thompson</a></span>
                        <span class="status-offline"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-12.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Harry Lopez</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-21.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Frank S. Arena</a></span>
                        <span class="status-offline"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-16.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Karen Williams</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-2.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Mary A. Schwarz</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-14.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Rex Carruth</a></span>
                        <span class="status-offline"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-18.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">James Vanwinkle</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-5.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Oscar Thompson</a></span>
                        <span class="status-offline"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-6.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Harry Lopez</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-7.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Frank S. Arena</a></span>
                        <span class="status-offline"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Right Sidebar Area -->

    </div>
    <!-- End Main Content Wrapper Area -->
    <!-- Start Copyright Area -->
    <div class="copyrights-area">
        <div class="container">
            <div class="row align-items-center">
                <p><i class="ri-copyright-line"></i> 2021 Zust. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
            </div>
        </div>
    </div>
    <!-- End Copyright Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-line"></i>
    </div>